/* Error: expected "{".
 *    ,
 * 65 |             animation: slide 1s linear both;
 *    |                                            ^
 *    '
 *   scss\layout\_container.scss 65:44  @import
 *   scss\main.scss 23:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 65 \2502              animation: slide 1s linear both;\a    \2502                                             ^\a    \2575 \a   scss\\layout\\_container.scss 65:44  @import\a   scss\\main.scss 23:9                root stylesheet';
}
