.new
{
    width: auto;
    color: $colour-green;
    background-color: $colour-green-smart;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 15px;
}

i.fa-check-circle
{
    background-color: $colour-tertiarie;
    color: $colour-white;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    position: relative;

}

.slide
{
    width: 0%;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    &:hover
    {
        width: 20%;
    }
}

@keyframes spin 
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

@keyframes rotate 
{
    0%   {right:0%; transform: rotate(0deg);}
    100%  {left:100%; transform: rotate(-360deg);}   
}

@keyframes moveright
{
    from { transform: translateX(100%); }
    to   { transform: translateX(0);}
}

//@keyframes slide 
//{
//    from { transform: 0%;};
//    to { transform: 20%;};
//}
