.new
{
    width: auto;
    color: $colour-green;
    background-color: $colour-green-smart;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fa-heart-home
{
    font-size: 25px;
    color: $colour-black;
    position: absolute;
    right: 25px;
    top: 75%;
}

.fa-heart
{
    font-weight: 300;
    margin: 0px;
    margin-left: 50%;
}

.fa-heart-home, .fa-heart
{
    font-size: 2rem;
    align-self: center;
    margin-right: 2rem;

    //Non stable
    cursor: pointer;
    background-color: $colour-black;
    padding: 0.1rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;

    &:hover
    {
        background: -webkit-linear-gradient(40deg, $colour-primary 0%, $colour-secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

header
{
    position: relative;
}

.fa-arrow-left
{
    color: $colour-black;
    font-size: 15px;
    position: absolute;
    left: 10%;
    top: 5%;
}

.price
{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 300;
    margin-top: auto;
    justify-content: flex-end;
    padding-right: 5px;
}

.fa-check-circle
{
    background-color: $colour-tertiarie;
    color: $colour-white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    font-size: 40px;
    padding-top: 8px;
    padding-left: 6px;
    
    &:hover
    {
        animation: spin 2s linear both;
    }
}

.slide
{
    width: 50%;
    overflow: hidden;

    &:hover
    {
        animation: moveleft 1s linear both;
    }
}

@keyframes spin 
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}


@keyframes slider 
{
    0% {right: 0%;}
    20% {right: 0%;}
    25% {right: -101%;}
    45% {right: -101%;}
    50% {right: -201%;}
    70% {right: -201%;}
    75% {right: -301%;}
    95% {right: -301%;}
    100% {right: 0%;}
}

@keyframes slidein 
{
    from 
    {
      margin-left: 0%;
      width: 100%;
    }
  
    to 
    {
      margin-left: 100%;
      width: 300%;
    }
  }

  @keyframes moveleft 
  {
        from { transform: translateX(0); }
        to   { transform: translateX(350px);}
  }