.new
{
    width: auto;
    color: $colour-green;
    background-color: $colour-green-smart;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fa-heart-home
{
    font-size: 4rem;
    color: $colour-black;
    position: absolute;
    right: 15px;
    top: 85%;
}

i
{
    font-size: 2rem;
    align-self: center;
    margin-right: 2rem;

    //Mon stable
    cursor: pointer;
    color: $colour-black;
    padding: 1rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;

    &:hover
    {
        background-color: -webkit-linear-gradient(40deg, $colour-primary 0%, $colour-secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

header
{
    position: relative;
}

.fa-arrow-left
{
    color: $colour-black;
    font-size: 15px;
    position: absolute;
    left: 10%;
    top: 5%;
}

.price
{
    width: 20%;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 300;
    margin-top: auto;
    justify-content: flex-end;
    padding-right: 20px;
}

.fa-check-circle
{
    height: 100%;
    width: 100%;
    font-size: 3rem;
    padding-top: 14px;
    padding-left: 11px;
}

.slide
{
    width: 0%;
    overflow: hidden;
    background-color: $colour-tertiarie;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

@keyframes spin 
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

@keyframes moveright
{
    from { transform: translateX(100%); }
    to   { transform: translateX(0);}
}

@keyframes slide 
{
    from { transform: width 0%;}
    to { transform: width 20%;}
}