.number
{
    background-color: $colour-primary;
    color: $colour-white;
    padding: 2.5px 8px;
    border: 0.1rem solid $colour-primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -50%);
}

.fa-mobile-alt, .fa-list-ul, .fa-store
{
    padding: 7px;
    margin-right: 5px;
    font-size: 15px;
}

.textreto
{
    padding: 10px;
    font-size: 15px;

    &__h4
    {
        font-size: 17px;
    }

    &__h5
    {
        font-size: 17px;
        font-weight: 300;
    }
}