.number
{
    background-color: $colour-primary;
    color: $colour-white;
    padding: 2.5px 8px;
    border: 0.1rem solid $colour-primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -50%);
}

.fa-mobile-alt, .fa-list-ul, .fa-store
{
    padding: 7px;
    margin-right: 5px;
    font-size: 15px;
}

.textreto
{
    padding: 10px;
    font-size: 15px;
    width: 80%;

    &__h4
    {
        font-size: 17px;
    }

    &__h5
    {
        font-size: 17px;
        font-weight: 300;
    }
}

a
{
    text-decoration: none;
}

.loading-spinner
{
    background: center;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    animation: spin;
    animation-duration: 5s;
    font-size: 20rem;
    display: block;
    text-align: center;
    color: $colour-black;
}