.logo
{
    &__header
    {
        justify-items: center;
        width: 15rem;
        height: 3rem;
        margin: 0;
    }

    &__footer
    {
       width: 15rem;
       height: 3rem; 
    }

}
.image
{
    &__home
    {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    &__restaurant
    {
        width: 100%;
        height: 15rem;
        object-fit: cover;  
    }
}