.logo
{
    &__header
    {
        display: flex;
        justify-content: center;
        width: 15rem;
        height: 3rem;
        
    }

    &__footer
    {
       width: 15rem;
       height: 10rem; 
    }

}
.image
{
    width: 100%;
    height: 15rem;
}