header
{
    position: relative;
}

.fa-arrow-left
{
    font-size: 15px;
    position: absolute;
    left: 10%;
    top: 5%;
}

.fa-check-circle
{
    background-color: $colour-tertiarie;
    color: $colour-white;
    height: 100%;
    
    &:hover
    {
        @keyframes spin 
        {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(359deg);}
        }
        @keyframes slider 
        {
            0% {right: 0%;}
            100% {right: 100%;}      
        }
    }
}