.cta
{
    display: flex;
    justify-content: center;
}

.partie
{
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px;
}

.carte
{
    font-weight: 600;
    padding-left: 20px;
}

h2
{
    padding-left: 15px;
    font-size: 15px;
}

h3
{
    padding-left: 15px;
    font-size: 17px;
    font-weight: 500;
}

.description
{
    padding-left: 15px;
    font-size: 16px;
}

.restaurant
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.row
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 40%;
}

.column
{
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
}