body
{
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}

.cta
{
    display: flex;
    justify-content: center;
}

.restaurant
{
    margin-top: -4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: $colour-gray-very-smart;
    z-index: 1;
    position: relative;
}

h2
{
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

h4
{
    font-weight: 500;
    font-size: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0rem;
}

p
{
    font-weight: 300;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main
{
    margin-top: -4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: $colour-gray-very-smart;
    z-index: 1;
    position: relative;
}

.price
{
    width: 20%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}

.carte
{
    padding: 1rem 2rem 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-menu
{
    display: flex;
    flex-direction: column;

    &__title
    {
        font-weight: 400;
        font-size: 2rem;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        position: relative;
        text-transform: uppercase;

        &::after
        {
            width: 3rem;
            height: 0.25rem;
            background-color: $colour-tertiarie;
            position: absolute;
            left: 0rem;
            bottom: 0rem;
        }
    }

    &__items
    {
        display: flex;
        justify-content: center;
        margin: 0rem 1rem;

        &__item
        {
            border: 2px;
            border-radius: 1rem;
            box-shadow: 0 1rem 2rem -0.5rem $colour-gray;
            display: flex;
            margin: 1rem 0rem;
            padding: 1rem;
            overflow: hidden;
            cursor: pointer;
            width: 100%;

            &__main-content
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 80%;
            }

            &__sub-content
            {
                width: 20%;
                background-color: $colour-tertiarie;
                margin: -1rem -8rem -1rem 1rem;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 0.5s;
                animation: XX 2s;
                animation-timing-function: cubic-bezier(0.5, 1,58, 0.34, 0.82);
                animation-fill-mode: both;
                transform: scale(0);
                
                &:hover
                {
                    margin-right: -1rem;
                }
            }
        }
    }
}



@keyframes slide
{
    0%   {right:0px;}
    100%  {right:100px;}
}

@keyframes XX
{
    0%   {right:0; transform: scale(0);}
    100%  {right:100%; transform: scale(1);}
}

@keyframes appear 
{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}