.container 
{
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-accent);

    &__restaurants
    {
        border: 5px solid $colour-gray-smart;
        background-color: $colour-gray-smart;
        margin: 0;
    }

    &__fiche
    {
        width: 95%;
        border: 2px;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        box-shadow: 0 1rem 1rem -0.5rem $colour-gray;
    }

    &__functionall
    {
        padding-left: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color: $colour-white;
    }

    &__function
    {
        border: 0.2rem solid $colour-white;
        border-radius: 15px;
        width: 95%;
        margin: 1rem;
        padding: 1.5rem;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        box-shadow: 0 1rem 1rem -0.5rem $colour-gray;

        &:hover
        {
            background-color: $cloour-pink;
        }
    }

    &__plate
    {
        border-radius: 15px;
        border-color: $colour-gray-smart;
        margin: 15px;
        box-shadow: 0 1rem 2rem -0.5rem $colour-gray;
        display: flex;

        &:hover + .slide
        {
            animation: slide 1s linear both;
        }
        &:hover + .fa-check-circle
        {
            animation: spin 3s linear both;
        }
    }
}

.title
{
    padding: 15px;
    padding-left: 20px;
}

.fiche-resto
{
    display: flex;
    flex-direction: row;
    width: 100%;
}