.container 
{
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-accent);

    &__restaurants
    {
        border: 5px solid $colour-gray;
        border-radius: 25px 25px 0px 0px;
        margin: $layout-margin;
    }

    &__search
    {
        margin: $layout-margin;
        background-color: $colour-gray-hard;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__header3
    {
        margin: $layout-margin;
        background-color: $colour-gray-smart;
        width: 100%;
        justify-content: start;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__functionall
    {
        margin-left: 3rem;
    }

    &__function
    {
        border: 0.5rem solid;
        border-radius: 15px;
        width: 80%;
        margin: 1rem;
        margin-left: 0;
    }

    &__plate
    {
        border: 0.5rem solid;
        border-radius: 15px;
        border-color: $colour-gray-smart;
        width: 90%;
        margin: 1rem;
        box-shadow: 0 1rem 2rem -0.5rem $colour-gray;
    }
}