.header 
{
    background: $colour-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    box-shadow: 0 1rem 2rem -0.5rem $colour-gray;

    &__logo 
    {
        font-size: 7rem;
        color: $colour-secondary;
        margin-left: 10rem;
        @include heading-shadow($colour-white);
        width: 15rem;
        height: 3rem;
    }

    &__search
    {
        margin: $layout-margin;
        background-color: $colour-gray-hard;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__header3
    {
        background-color: $colour-gray-smart;
        justify-content: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}