.new
{
    width: auto;
    color: $colour-green;
    background-color: $cloour-green-smart;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fa-heart__home
{
    color: $colour-black;
    position: absolute;
    right: 15px;
    top: 80%;
}