.new
{
    width: auto;
    color: $colour-green;
    background-color: $colour-green-smart;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fa-heart-home
{
    font-size: 25px;
    color: $colour-black;
    position: absolute;
    right: 25px;
    top: 75%;
}

.fa-heart
{
    font-weight: 300;
    margin: 0px;
    margin-left: 40%;
}

.price
{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 200;
    position: absolute;
    right: 10px;
    top: 50%;
}

.fa-heart-home, .fa-heart
{
    font-size: 2rem;
    align-self: center;
    margin-right: 2rem;

    //Non stable
    cursor: pointer;
    background-color: $colour-black;
    padding: 0.1rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;

    &:hover
    {
        background: -webkit-linear-gradient(40deg, $colour-primary 0%, $colour-secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}