.new
{
    width: auto;
    color: $colour-green;
    background-color: $cloour-green-smart;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fa-heart
{
    font-size: 25px;
    color: $colour-black;
    position: absolute;
    right: 25px;
    top: 75%;
}