.coeur
{
    height: 3rem;
    width: 3rem;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    font-size: 3rem;

    &__vide
    {
        opacity: 1;
        transition: 2s;
    }

    &__plein
    {
        opacity: 0;
        transition: 2s;
    }

    &:hover
    {
        &__vide
        {
            opacity: 0;
        }

        &__plein
        {
            opacity: 1;
        }
    }


    
}

i.fa-heart
{
    font-size: 2rem;
    align-self: center;
    margin-right: 2rem;

    //Non stable
    cursor: pointer;
    background: none;
    color: $colour-black;
    padding: 0.1rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2rem transparent;

    &:hover
    {
        background: -webkit-linear-gradient(40deg, $colour-primary 0%, $colour-secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}