.coeur
{
    height: 3rem;
    width: 3rem;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    font-size: 3rem;
    transition-duration: 1s;
    position: relative;

    &__plein
    {
        position: absolute;
        opacity: 0;
        transition-duration: 0.5s;
        z-index: 2;
        mix-blend-mode: lighten;
    }

    &__vide
    {
        z-index: 1;
        opacity: 1;
        transition-duration: 0.5s;
        color: $colour-black;
    }
    &:hover
    {
        .coeur__plein
        {
            opacity: 1;
        }
    } 
}

i.fa-heart
{
    font-size: 2rem;
    align-self: center;
  
    //Non stable
    cursor: pointer;
    //background: none;
    padding: 0.1rem;
}

.coeur2
{
    height: 3rem;
    width: 20%;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    color: $colour-black;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    font-size: 3rem;
    transition-duration: 1s;
    position: relative;

    &__plein
    {
        opacity: 0;
        transition-duration: 0.5s;
        z-index: 2;
        
        
    }

    &__vide
    {
        z-index: 1;
        opacity: 1;
        transition-duration: 0.5s;
    }
    &:hover
    {
        .coeur__plein
        {
            opacity: 1;
        }
    } 
}

i.fa-heart-home
{
    height: 3rem;
    width: 3rem;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    font-size: 3rem;
    color: $colour-black;
    font-size: 2rem;
    align-self: center;
  
    //Non stable
    cursor: pointer;
    //background: none;
    padding: 0.1rem;
}


//-webkit-background-clip: text; contenu enfant par rapport parent
//aria-hidden; caché un contenu

//background: -webkit-linear-gradient(40deg, $colour-primary 0%, $colour-secondary 100%);
//-webkit-background-clip: text;
//-webkit-text-fill-color: full;
