body 
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}

h1 
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    font-style: italic;
}

h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h4
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

.title-to-logo
{
    font-family: shrikland;
}

.text-function
{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}