body 
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}

h1 
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
}

.title-to-logo
{
    font-family: shrikland;
}

.text-function
{
    display: flex;
    justify-content: center;
    font-size: 12px;
}